nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  margin: auto;
  max-width: 700px;
  font-family: sans-serif;
}
.heading {
  color: rebeccapurple;
}
.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
.nav-links li {
  padding-right: 2rem;
}
.nav-link-text {
  color: black;
  text-decoration: none;
}

.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  margin: 3rem 0;
}
