:root {
  --lapis-lazuli: #2660a4ff;
  --mint-cream: #edf7f6ff;
  --sandy-brown: #f19953ff;
  --vivid-burgundy: #a4243bff;
  --rich-black-fogra-29: #07090fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  margin: auto;
  max-width: 700px;
  font-family: sans-serif;
}
.heading {
  color: var(--lapis-lazuli);
}
.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
.nav-links li {
  padding-right: 2rem;
}
.nav-link-text {
  color: var(--rich-black-fogra-29);
  text-decoration: none;
}

.site-title {
  font-size: 2rem;
  color: var(--rich-black-fogra-29);
  font-weight: 700;
  margin: 3rem 0;
}
