:root {
  --lapis-lazuli: #2660a4ff;
  --mint-cream: #edf7f6ff;
  --sandy-brown: #f19953ff;
  --vivid-burgundy: #a4243bff;
  --rich-black-fogra-29: #07090fff;
}

/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 125px;
}
header span {
  display: flex;
}

.container {
  margin: 1rem auto 0;
  max-width: 700px;
  font-family: sans-serif;
}
/* .heading {
  color: var(--lapis-lazuli);
} */
.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
.nav-links li {
  padding-right: 2rem;
  text-transform: uppercase;
}
.nav-link-text {
  color: var(--rich-black-fogra-29);
  text-decoration: none;
}
.contact {
  color: var(--rich-black-fogra-29);
  text-decoration: none;
  text-transform: uppercase;
  /* margin: 0 0 1rem 0; */
  background-color: var(--sandy-brown);
  padding: 1rem;
  border-radius: 0.75rem;
  color: var(--mint-cream);
}
