:root {
  --lapis-lazuli: #2660a4ff;
  --mint-cream: #edf7f6ff;
  --sandy-brown: #f19953ff;
  --vivid-burgundy: #a4243bff;
  --rich-black-fogra-29: #07090fff;
}

/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
header {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  align-items: center;
}
.header-logo {
  width: 200px;
}
.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.about-page p {
  text-align: center;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.image-container-image {
  width: 30%;
  margin-top: 0.5rem;
}

.social-media-links ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding-left: 0;
}

.social-media-links li {
  margin: 0 0 1.5rem 0;
}

.twitter {
  color: white;
  text-decoration: none;
  padding: 0.4rem 0.8rem;
  background-color: #1da1f2;
  border-radius: 0.5rem;
}
.github {
  color: white;
  text-decoration: none;
  padding: 0.4rem 0.8rem;
  background-color: #1b1f22;
  border-radius: 0.5rem;
}
.instagram {
  color: white;
  text-decoration: none;
  padding: 0.4rem 0.8rem;
  background-color: #30618a;
  border-radius: 0.5rem;
}
.email {
  color: var(--mint-cream);
  text-decoration: none;
  padding: 0.4rem 0.8rem;
  background-color: var(--sandy-brown);
  border-radius: 0.5rem;
}

.container {
  margin: 1.5rem auto 0;
  max-width: 700px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main p,
ul {
  line-height: 1.75;
}

/* .heading {
  color: var(--lapis-lazuli);
} */
.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
.nav-links li {
  padding-right: 2rem;
  /* text-transform: uppercase; */
}
.nav-link-text {
  color: var(--rich-black-fogra-29);
  text-decoration: none;
}
.contact {
  color: var(--mint-cream);
  text-decoration: none;
  padding: 0.4rem 0.8rem;
  background-color: var(--sandy-brown);
  border-radius: 0.5rem;
  /* align-items: center; */
  /* border: 2px solid var(--lapis-lazuli); */
  /* font-size: 1.5rem; */
  /* font-family: pacifico; */
  /* text-shadow: 1px 1px #5C5F62, 2px 2px #B4B5B6; */
}

.contact:hover {
  background-color: #ed7a1d;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
  }
  nav ul {
    margin-top: 0;
  }
}
